<h2 class="center">Welcome to Jokes-Ng!</h2>
<div class="row">
    <div class="col-md-12 center">
        <button class="btn btn-primary" (click)="randomClick()">Random Joke</button>
        <button class="btn btn-link" (click)="allJokesClick()">All Jokes</button>
    </div>
</div>
<br />
<div class="row center">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info" [hidden]="!showJoke">
            <div class="panel-heading">
                <div class="btn btn-link" (click)="showPunchlineClick()">{{ joke?.Setup }}</div>
            </div>
            <div class="panel-body" [hidden]="!showPunchline">
                {{ joke?.Punchline }}
            </div>
        </div>
    </div>
</div>