<!doctype html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="reveal/css/reveal.css" />
    <link rel="stylesheet" type="text/css" href="reveal/lib/css/zenburn.css" />
    <link rel="stylesheet" type="text/css" href="reveal/css/theme/league.css" />
</head>
<style>
    .left {
        float: left;
        max-width: 40%;
    }

    .right {
        float: right;
    }
</style>
<body>
    <script src="reveal/js/reveal.js"></script>
    <script src="reveal/plugin/highlight/highlight.js"></script>
    <div class="reveal">
        <div class="slides">
            <section>
                <div style="float: left; width: 60%">
                    <h3>Make Mobile Apps Great Again: NativeScript and Angular</h3>
                    <p>Nick Branstein</p>
                </div>
                <div style="float: right;">
                    <img src="images/nativescript-loves-angular.png" height="100px" />
                </div>
            </section>
            <section>
                <section>
                    <h3>About Me</h3>
                </section>
                <section>
                    <h3>My Dog Riven</h3>
                    <img src="images/Riven.jpg" height="400px" />
                </section>
                <section>
                    <h3>About Me</h3>
                    <p>Senior Consultant @ KiZAN Technologies</p>
                    <p>Video game lover and enthusiast</p>
                    <p>Cleveland sports fan</p>
                    <p>Twitter: @nickbranstein</p>
                    <p>Blog: brosteins.com</p>
                </section>
            </section>

            <section>
                <section>
                    <p>Everyone loves bad jokes right?</p>
                    <img src="images/jackolantern.jpg" height="400px"/>
                </section>
                <section>
                    <h3>Story Time</h3>
                </section>
                <section>
                    <h3>Why Angular?</h3>
                    <p class="fragment">Widely used</p>
                    <p class="fragment">Opinionated and structured</p>
                    <p class="fragment">Skills I know (HTML, CSS, JS/TS)</p>
                    <p class="fragment">Well supported</p>
                </section>
                <section>
                    <h3>Jokes-Ng</h3>
                    <img src="images/jokes-ng.png" height="400px"/>
                </section>
                <section>
                    <h3>What?</h3>
                    <p>I thought we were making moble apps...</p>
                    <img src="images/what.gif" height="300px"/>
                    <p class="fragment">How?</p>
                </section>
            </section>

            <section>
                <section>
                    <h3>NativeScript</h3>
                </section>
                <section>
                        <h3>Differences</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>Mobile App Type</th>
                                    <th>Framework</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>native</td>
                                    <td>Android, iOS</td>
                                </tr>
                                <tr>
                                    <td>hybrid</td>
                                    <td>PhoneGap/Cordova</td>
                                </tr>
                                <tr>
                                    <td>cross compiled</td>
                                    <td>Xamarin</td>
                                </tr>
                                <tr>
                                    <td>JIT compiled</td>
                                    <td>NativeScript</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                <section>
                    <h3>Why?</h3>
                    <div class="fragment">
                        <p class="left fragment">Skills you may know</p>
                        <img class="fragment" src="images/fig1-1.png" height="200px"/>
                    </div>
                    <div class="fragment">
                        <p class="fragment">Access to native APIs</p>
                    </div>             
                </section> 
                <section>
                    <h3>Angular Integration!</h3>
                    <img src="images/didIMention.gif" height="400px"/>
                </section>
                <section>
                    <h3>Goals</h3>
                    <p>Easy to convert and existing Angular app to NativeScript with Angular</p>
                </section>
            </section>
            <section>
                <section>
                    <h3>Converting the Angular App</h3>
                </section>
                <section>
                        <h3>NativeScript Project Setup</h3>
                        <pre class="fragment"><code data-trim class="c#">
npm install -g nativescript
                        </code></pre>
                        <pre class="fragment"><code data-trim class="c#">
tns create jokes-tns 
    --template nativescript-template-ng-tutorial
                    </code></pre>
                </section>
                <section>
                    <h3>Checkpoint</h3>
                </section>                
                <!-- <section>
                    <h3>Bootstrap the App</h3>
                    <p class="fragment">Angular</p>
                    <pre style="width: 100%;" class="fragment"><code data-trim class="c#">
import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
import { AppModule } from './app/app.module';

platformBrowserDynamic().bootstrapModule(AppModule);
                    </code></pre>
                    <p class="fragment">NativeScript with Angular</p>
                    <pre style="width: 100%;" class="fragment"><code data-trim class="c#">
import { platformNativeScriptDynamic } from "nativescript-angular/platform";
import { AppModule } from "./app.module";

platformNativeScriptDynamic().bootstrapModule(AppModule);
                    </code></pre>
                </section> -->
            </section>
            <section>
                <section>
                    <h3>Building the Angular Components</h3>
                </section>
                <section>
                    <h3>Reusable Pieces</h3>
                    <p class="fragment">Services & Models</p>
                    <p class="fragment">Routing</p>
                    <p class="fragment">Component Logic</p>
                    <p class="fragment">Databinding Syntax</p>
                </section>
                <section>
                    <h3>Non-Reusable Pieces</h3>
                    <p class="fragment">Component UI</p>
                    <p class="fragment">Module Bootstrap</p>
                </section>
                <section>
                    <h3>NativeScript UI Overview</h3>
                    <table>
                            <thead>
                                <tr>
                                    <th>HTML</th>
                                    <th>NativeScript</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="fragment">
                                    <td>div, span</td>
                                    <td>layouts: stack, grid, wrap, absolute + more</td>
                                </tr>
                                <tr class="fragment">
                                    <td>label, p / h / other text</td>
                                    <td>label</td>
                                </tr>
                                <tr class="fragment">
                                    <td>button, input</td>
                                    <td>button, textfield</td>
                                </tr>
                                <tr class="fragment">
                                    <td></td>
                                    <td>datepicker, listview, listpicker + more</td>
                                </tr>
                            </tbody>
                        </table>
                </section>
                <section>
                    <h3>Home Component</h3>
                    <p>Angular</p>
                    <pre style="width: 100%;"><code data-trim class="xml">
&ltdiv class="row"&gt
&ltdiv class="col-md-12 center"&gt
    &ltbutton class="btn btn-primary"&gtRandom Joke&lt/button&gt
                    </code></pre>
                    <p>NativeScript with Angular</p>
                    <pre style="width: 100%;"><code data-trim class="xml">
&ltStackLayout orientation="vertical"&gt
    &ltLabel text="Welcome to Jokes NS!"&gt&lt/Label&gt
    &ltStackLayout orientation="horizontal"&gt
        &ltButton text="Random Joke"&gt&lt/Button&gt
                    </code></pre>
                </section>
                <section>
                    <h3>Routing</h3>
                    <p>Angular</p>
                    <pre style="width: 100%;"><code data-trim class="c#">
import { RouterModule } from '@angular/router';
                    </code></pre>
                    <p>NativeScript with Angular</p>
                    <pre style="width: 100%;"><code data-trim class="c#">
import { NativeScriptRouterModule } from "nativescript-angular/router";
                    </code></pre>
                </section>
                <section>
                    <h3>Home Component Checkpoint</h3>
                </section>
                <section>
                    <h3>Home Component Bindings</h3>
                    <p>Angular</p>
                    <pre style="width: 100%;"><code data-trim class="xml">
&ltdiv class="row"&gt
&ltdiv class="col-md-12 center"&gt
    &ltbutton class="btn btn-primary" (click)="randomClick()"&gtRandom Joke&lt/button&gt
                    </code></pre>
                    <p>NativeScript with Angular</p>
                    <pre style="width: 100%;"><code data-trim class="xml">
&ltStackLayout orientation="vertical"&gt
    &ltLabel text="Welcome to Jokes NS!"&gt&lt/Label&gt
    &ltStackLayout orientation="horizontal"&gt
        &ltButton text="Random Joke" (click)="randomClick()"&gt&lt/Button&gt
                    </code></pre>
                </section>
                <section>
                    <h3>Finished Home Component</h3>
                </section>
            </section>
            <section>
                <section>
                    <h3>Putting It All Together</h3>
                </section>
                <section>
                    <h3>List Component</h3>
                    <p>Angular directives such as ngFor</p>
                    <pre style="width: 100%;"><code data-trim class="xml">
&ltdiv class="row" *ngFor="let joke of allJokes()"
                    </code></pre>
                    <p>NativeScript with Angular</p>
                    <pre style="width: 100%;"><code data-trim class="xml">
&ltStackLayout *ngFor="let item of allJokes()"
                    </code></pre>
                </section>
                <section>
                    <h3>The Finished Product</h3>
                </section>
            </section>
            <section>
                <section>
                    <h3>In Closing</h3>
                    <p>No better time to make a mobile app then now</p>
                    <p>Angular + NativeScript lower the barrier to entry for mobile apps</p>
                    <p>Converting an Angular app to a mobile app is an easy process</p>
                </section>
                <section>
                    <p>Insert Joke Here</p>
                </section>
                <section>
                    <h3>The NativeScript Book</h3>
                    <a href="https://www.nativescript.org/book">https://www.nativescript.org/book</a>
                    <p>Available now!</p>
                    <img src="images/TheNativeScriptBook-Cover.png" height="400px"/>
                </section>
                <section>
                    <h3>Thanks!</h3>
                    <p>@nickbranstein</p>
                    <p>brosteins.com</p>
                    <a href="https://github.com/NickBranstein/Presentations">https://github.com/NickBranstein/Presentations</a>
                </section>
            </section>
        </div>
    </div>

    <!-- build:js js/main.min.js -->
    <script src="js/main.js"></script>
    <!-- endbuild -->
</body>
</html>